<!-- about -->
<!-- 
	This is my portfolio website. 
	copyrightⓒ me
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sang Kim</title>

		<!-- Libraries -->

		<!-- jQuery -->
	  	<script src="https://code.jquery.com/jquery.min.js"></script>

	  	<!-- Bootstrap CSS and JavaScript -->
	  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	  	<!-- Angular JavaScript -->
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

		<!-- ui-router library -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

		<!-- Papa Parse JavaScript -->
		<script src="js/papaparse.min.js"></script>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- Animate.css -->
		<link rel="stylesheet" href="css/animate.css">

		<!-- custom code -->
		<script type="text/javascript" src="js/main.js"></script>

		<link href="css/main.css" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		<div ng-app="myApp" id="projects">
			
			<div id="navbar" class="navbar masthead-nav navbar-fixed-top">
				<nav>
					<ul id="navlist">
						<li class="navitem"><a href="#homeimg" class="link">Home</a></li>
						<li class="navitem"><a href="about.html" class="link">About Me</a></li>
						<li class="navitem"><a href="#information" class="link">Projects</a></li>
						<li class="navitem"><a href="#contact" class="link">Contact</a></li>
					</ul>
				</nav>
			</div>

			<div>
				<h1>Hi, my name is 김상욱</h1>
			</div>


   			<!-- <button type="button" onclick="displayPreviousImage()">Previous</button>
   			<button type="button" onclick="displayNextImage()">Next</button>
			
			<div>
				<h2>Projects</h2>

				<div class="projects">
					<a href=""></a>
				</div>
			</div> -->

			<div class="footer">
				<span class="right_ab">
					<a>Sang Kim's Portfolio Website. COPYRIGHTⓒ SANG KIM. All RIGHTS RESERVED</a>
				</span>
			</div>

		</div>
	</body>
</html>








